.promotion{

      margin-top: 20px;
    cursor: pointer;
    .banner {
        
      }
  img {
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 100px 0px;
    width: 80%;
  }

 
}
